@import '../../../styles/variables';

.item {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 0.417vw; //8px, 1920

    // img {
    //     width: 36px;
    //     height: 36px;
    // }

    h5 {
        color: $color-white;
    }
}
