@import '../../styles/variables';

.innovateSolutions {
    &__container {
        background-color: $color-black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
            h2 {
                width: 537px;
                text-align: center;
            }

            h5 {
                width: 544px;
                text-align: center;
            }
    }
}