@import '../../styles/variables';

.buttonBorder {
    padding: 0.833vw 1.875vw; //16px 36px, 1920px
    border-radius: 32px;
    background-color: $color-blue-primary;
    cursor: pointer;
    transition: background-color 0.3s ease-in;

    &:hover {
        background-color: rgb(24, 42, 143);;
    }
}