$color-white: rgba(255, 255, 255, 1);
$color-grey-200: #EFF1F6;
$color-grey-100: #BDC4D1;
$color-blue-primary: rgba(36, 59, 185, 1);
$color-blue-secondary: rgba(36, 59, 185, 0.2);
$color-black: #000;

$gradient-blue-white: linear-gradient(rgba(109, 156, 246, 0.7), rgba(255, 255, 255, 1));


$padding-desktop: 11.667vw; //224px, 1920