.links {
	ul {
		display: flex;
		flex-direction: column;
		gap: 0.833vw;
		li {
			font-size: 16px; // Общий стиль размера шрифта для всех элементов списка
			color: grey; // Стандартный цвет для всех элементов списка

			&:first-child {
				color: white; // Переопределение цвета только для первого элемента списка
			}
		}
	}
}
